# Defold Files
*.go linguist-detectable=false

# Defold Data
*.go linguist-detect=false

# Defold Lua Files
*.editor_script linguist-language=Lua
*.render_script linguist-language=Lua
*.script linguist-language=Lua
*.gui_script linguist-language=Lua